table, th, td {
    border: 1px solid black;
    padding: 1px;
  }

.padding{
    padding: 10px;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

*{
    font-family:'Times New Roman', Times, serif
    font-size: 20px;
}
